:root {
    /* Familles de polices */
    --Young-Serif: 'Young Serif', serif;
    
    --Outfit-Serif: 'Outfit', sans-serif;

    /* Poids de police */
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Couleur des écritures */
    --bg-body : hsl(30, 54%, 90%);


    /* Couleur de fond section principale*/
    --bg-section-principale :  hsl(0, 0%, 100%);

}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: hsl(30, 54%, 90%);
}


main {
    display: block;
}


/*---------------------------
|       BOUTON RETOUR       | 
---------------------------*/


.home-content {
    width: 80%;
    height: auto;
    margin: 3% 0% 3% 10%;
    padding-bottom: 2%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
}


/*---------------------------
|       SECTION IMAGE       | 
---------------------------*/

.container-image {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}


.container-image .bloc-img {
    width: 80%;
    display: flex;
    justify-content: center;
}


.bloc-img img{
    width: 80%;
    margin-top: 3%;
    border-radius: 8px;
    border: none;
}


/*---------------------------
|      SECTION RECETTE      | 
---------------------------*/


.container-recette {
    width: 100%;
    height: 90%;
    margin-top: 5%;
}


.container-recette .title-description {
    width: 80%; 
    padding-left: 3%;
    margin-left: 3%;
}


.container-recette .title-description h1 {
    font-family: 'Young Serif', serif;
    font-weight: 700;
    font-size: 32px;
}


.container-recette .title-description p {
    font-size: var(--Young-Serif);
    font-weight: var(--font-weight-regular);
}


/*----------------
|      TIMER     | 
----------------*/

.container-recette .bloc-timer {
    width: 80%;
    margin-top: 3%;
    margin-left: 6%;
    padding: 2% 0 2% 3%;
    border-radius: 8px;
    background-color: hsl(330, 100%, 98%);
}


.bloc-timer .title-time h3{
    color: hsl(332, 51%, 32%);
}


.container-recette .list-timer ul {
    list-style-type: disc; /* Utilise des points comme marqueurs */
    color: black; /* Couleur du texte */
}


.container-recette .list-timer ul li::marker {
    color: hsl(332, 51%, 32%); /* Couleur des points */
}



.container-recette .list-timer ul li:nth-child(2),
.container-recette .list-timer ul li:nth-child(3) {
    margin-top: 1.5%;
}



.separation-bloc {
    width: 85%;
    margin-top: 3%;
    margin-left: 6%;

}


/*----------------
|   INGREDIENTS  | 
----------------*/

.bloc-ingredients {
    width: 80%; 
    padding-left: 3%;
    margin-left: 3%;
}


.bloc-ingredients .title-ingredient h1 {
    font-size: 25px;
    color: hsl(14, 45%, 36%);
}


.container-recette .list-ingredients ul li:nth-child(2),
.container-recette .list-ingredients ul li:nth-child(3),
.container-recette .list-ingredients ul li:nth-child(4),
.container-recette .list-ingredients ul li:nth-child(5) {
    margin-top: 1.5%;
}


.container-recette .list-ingredients ul {
    list-style-type: disc; /* Utilise des points comme marqueurs */
    color: black; /* Couleur du texte */
}


.container-recette .list-ingredients ul li::marker {
    color: hsl(14, 45%, 36%);
}



/*------------------
|   INSTRUCTIONS   | 
------------------*/


.insctructions {
    width: 100%;
    height: 90%;
    margin-top: 5%;
}


.insctructions .title-instruction {
    width: 80%; 
    padding-left: 5%;
}


.insctructions .title-instruction h1 {
    font-size: 25px;
    color: hsl(14, 45%, 36%);
}


.insctructions .instructions-rules {
    padding-left: 4.5%;
}


.insctructions .instructions-rules ol li {
    font-size: 16px;
    font-weight: var(--font-weight-regular);
}

.insctructions .instructions-rules ol li:nth-child(2),
.insctructions .instructions-rules ol li:nth-child(3),
.insctructions .instructions-rules ol li:nth-child(4),
.insctructions .instructions-rules ol li:nth-child(5),
.insctructions .instructions-rules ol li:nth-child(6) {
    margin-top: 1.5%;
}

.insctructions .instructions-rules ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: var(--font-weight-bold);
}


.insctructions .instructions-rules ol li strong {
    color: hsl(30, 10%, 34%);
    margin-left: 1%;
}



/*----------------
|    NUTRITION   | 
----------------*/

.container-nutrition {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}


.container-nutrition .title-nutrition {
    width: 80%;
    padding-left: 5%;
    border: 1px solid red;
}

.container-nutrition .title-nutrition h1 {
    font-size: 25px;
    color: hsl(14, 45%, 36%);
}


.container-nutrition .description-nutrition {
    position: relative;
    bottom: 7%;
}


.container-nutrition .details-nutrition {
    width: 100%;
    display: block;
    padding-left: 10%;
}
